@font-face {
  font-family: "sligoli";
  src: url(fonts/Sligoil-Micro.otf);
}

body {
  overflow-x: hidden;
  background-color: #f9f2e6;
  margin: 0px;
  padding-left: 0px;
}
p {
  padding: 2%;
  position: relative;
  top: 100px;
  text-align: center;
  font-family: sligoli;
  font-style: normal;
  font-weight: 100;
  font-size: 47px;
  line-height: 55px;
  letter-spacing: -2px;
  color: #c6007a;
}
.spin-on-hover {
  position: relative;
  width: 40px;
  top: 10px;
  transition: transform 0.9s ease;
}

.spin-on-hover:hover {
  transform: rotate(360deg);
}

/* nav bar */
.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f9f2e6;
  border-top: 3px solid #0008c6;
  display: flex;
  justify-content: space-around;
}
.nav-bar ul {
  margin: 0;
  font-family: "sligoli";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  padding: 25px;
}
a:link {
  color: #0008c6;
  text-decoration: none;
}
a:visited {
  color: #0008c6;
  text-decoration: none;
}
a:hover {
  color: #0008c6;
  text-decoration: #f3c635 wavy underline;
}
a:active {
  color: #0008c6;
  text-decoration: none;
}
.nav-bar ul a:hover {
  color: #c83636;
}

/* nav bar */
