@font-face {
  font-family: "sligoli";
  src: url(fonts/Sligoil-Micro.otf);
}
@font-face {
  font-family: "ABC Diatype";
  src: url(fonts/ABCDiatype-Black-Trial.otf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f2e6;
  /* overflow-x: hidden; */
}
.nav-bar {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  height: 100%;
  display: block;
  background: #f9f2e6;
  border-right: 3px solid #0008c6;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 21em;
  text-align: left;
  display: block;
}

.nav-links {
  list-style: none;
  text-align: left;
}
.nav-links li {
  display: inline-block;
  padding: 0;
  margin: 10px 0;
  padding: 20px;
}
.nav-links li a {
  padding: 0;
  margin: 0;
  font-family: "Sligoil";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}
a:link {
  color: #0008c6;
  text-decoration: none;
}
a:visited {
  color: #0008c6;
  text-decoration: none;
}
a:hover {
  color: #0008c6;
  text-decoration: #f3c635 wavy underline;
}
a:active {
  color: #0008c6;
  text-decoration: none;
}
.nav-links li a:hover {
  color: #c83636;
}
.stickers {
  width: 200px;
}

.container {
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  border: 2px solid black;
  background-color: #f9f2e6;
  transition: all ease-in-out 400ms;
}
/* 
ul.tabs a {
  position: relative;
  left: 1200px;
  top: 90px;
  display: inline-block;
  background: rgb(255, 255, 255);
  color: #7f7f7f;
  cursor: pointer;
  margin: 0;
  padding: 5px 25px 5px 15px;
  -webkit-clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
  clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
  z-index: 1;
  rotate: -90deg;
} */

.closed {
  background-color: #000000;
}

.title1 {
  font-family: "Sligoil";

  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;

  text-align: center;
  letter-spacing: -0.035em;

  color: #000000;
}

.sub-text1 {
  padding-top: 3%;
  font-family: "ABC Diatype";
  text-transform: uppercase;
  text-align: center;
}

.images1 img {
  position: relative;
  align-items: center;
  width: 30%;
  margin-right: 1%;
  padding-left: 2%;
  padding-top: 5%;
}

.body-text1 {
  word-spacing: 2px;
  padding-top: 30px;
  padding: 2%;

  font-family: "sligoli";
  font-size: 20px;
  color: #000000;
}
