@font-face {
  font-family: "sligoli";
  src: url(fonts/Sligoil-Micro.otf);
}
@font-face {
  font-family: "ABC Diatype";
  src: url(fonts/ABCDiatype-Black-Trial.otf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f2e6;
  overflow-x: hidden;
}

.star1 {
  position: absolute;
  width: 362px;
  height: 354px;
  left: 1094.79px;
  top: 50px;
  transform: rotate(13.36deg);
}
.star2 {
  position: absolute;
  width: 362px;
  height: 354px;
  left: 10px;
  top: 500px;
}
.marquee {
  background: #f5e8bb;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 55px;
  overflow-x: hidden;
  border-bottom: 3px solid black;
}

.track {
  text-transform: uppercase;
  font-family: "sligoli";
  font-size: 35px;
  color: black;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.title {
  position: absolute;
  width: 1440px;
  height: 20%;
  left: 3px;
  top: 180px;

  font-family: "ABC Diatype";
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  word-spacing: 20px;
  line-height: 125px;
  text-align: center;

  color: #0008c6;
}
.tab {
  position: absolute;
  width: 206px;
  height: 46px;
  left: 140px;
  top: 120px;
}
.line2 {
  box-sizing: border-box;

  position: absolute;
  width: 1270px;
  height: 169px;
  left: 78px;
  top: 150px;

  border: 2px solid #000000;
  border-radius: 22px;
}
.line1 {
  position: absolute;
  border: 1.5px solid black;
  width: 1189px;
  height: 300px;
  left: 120px;
  top: 350px;

  border: 2px solid #000000;
  border-radius: 76px 0px 0px 0px;
}

.intro-text {
  position: relative;
  width: 1169px;
  height: 100px;
  left: 150px;
  top: 350px;

  font-family: "sligoil";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 38px;
  display: flex;
  text-align: left;

  color: #0008c6;
}

.nav-bar {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-block;
  background: #f9f2e6;
  border-top: 3px solid #0008c6;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
  width: 10em;
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  text-align: center;
}
.nav-links li {
  display: inline-block;
  padding: 0;
  margin: 1em 0;
}
.nav-links li a {
  padding: 0;
  margin: 0;
  font-family: "sligoil";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  width: 350px;
  height: 78px;
  /* left: 561px;
  top: 924px; */
  text-align: center;
  padding-right: 3em;
  margin: 1em 0;
  padding-left: 1.2em;
  /* display: flex;
  align-items: flex-end; */
}
a:link {
  color: #0008c6;
  text-decoration: none;
}
a:visited {
  color: #0008c6;
  text-decoration: none;
}
a:hover {
  color: #0008c6;
  text-decoration: #f3c635 wavy underline;
}
a:active {
  color: #0008c6;
  text-decoration: none;
}
.nav-links li a:hover {
  color: #c83636;
}
.stickers {
  width: 200px;
}
