@font-face {
  font-family: "sligoli";
  src: url(fonts/Sligoil-Micro.otf);
}
@font-face {
  font-family: "ABC Diatype";
  src: url(fonts/ABCDiatype-Black-Trial.otf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f2e6;
  overflow-x: hidden;
}

.marquee {
  background: #f5e8bb;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
  overflow-x: hidden;
  border-bottom: 3px solid black;
}

.track {
  text-transform: uppercase;
  font-family: "sligoli";
  font-size: 35px;
  color: black;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.title {
  position: absolute;
  width: 80vw;
  height: 20%;
  left: 10vw;
  top: 180px;

  font-family: "ABC Diatype";
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  word-spacing: 20px;
  line-height: 125px;
  text-align: center;

  color: #0008c6;
}
.tab {
  position: absolute;
  width: 206px;
  height: 46px;
  left: 11vw;
  top: 120px;
}
.line2 {
  box-sizing: border-box;

  position: absolute;
  width: 80vw;
  height: 169px;
  left: 10vw;
  top: 150px;

  border: 2px solid #000000;
  border-radius: 22px;
}
.line1 {
  position: absolute;
  border: 1.5px solid black;
  width: 80vw;
  height: 300px;
  left: 10vw;
  top: 350px;

  border: 2px solid #000000;
  border-radius: 76px 0px 0px 0px;
}

.intro-text {
  position: absolute;
  width: 76vw;
  height: 100px;
  left: 13vw;
  top: 400px;

  font-family: "sligoli";
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 38px;
  display: flex;
  text-align: left;

  color: #0008c6;
}

/* nav bar */
.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f9f2e6;
  border-top: 3px solid #0008c6;
  display: flex;
  justify-content: space-around;
}
.nav-bar ul {
  margin: 0;
  font-family: "sligoli";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  padding: 25px;
}
a:link {
  color: #0008c6;
  text-decoration: none;
}
a:visited {
  color: #0008c6;
  text-decoration: none;
}
a:hover {
  color: #0008c6;
  text-decoration: #f3c635 wavy underline;
}
a:active {
  color: #0008c6;
  text-decoration: none;
}
.nav-bar ul a:hover {
  color: #c83636;
}

/* nav bar */

.stickers {
  width: 200px;
}
